body::before{
    display: block;
    content: '';
    height: 60px;
}

.img-fluid{
    max-width: 100%;
    height: 500px;
}

.rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:350px;
    height:350px;
}

.rounded-2{
    width: 100%;
    height: 250px;
}